<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="fo">
        <div class="fade_group">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="fade_group2">
        <div></div>
        <div></div>
     </div> 
    <div class="container">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <br><br><br>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>